[submodule "isamples_inabox"]
	path = isb/isamples_inabox
	url = https://github.com/isamplesorg/isamples_inabox.git
	branch = develop
[submodule "isb/isamples_webui"]
	path = isb/isamples_webui
	url = https://github.com/isamplesorg/isamples_webui.git
	branch = develop
[submodule "isb/elevate"]
	path = isb/elevate
	url = https://github.com/isamplesorg/elevate.git
	branch = develop